# An example of a secrets file
# The secrets file is actually a python file with key value pairs
# only the uppercase keys will be imported
# https://flask.palletsprojects.com/en/1.1.x/config/#configuring-from-files

# The secret key
SECRET_KEY=replace_with_a_real_value

# An initial admin user.
SEED_ADMIN_USERNAME="i_am_groot"
SEED_ADMIN_EMAIL="i_am_groot@example.com"
SEED_ADMIN_PASSWORD="password1234"